body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./assets/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-color: hsl(0, 0%, 98%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@media only screen and (max-width: 350px) {
  body {
    background-image: url('./assets/bg-mobile-light.jpg');
  }
}